
<section class = "menu">
    <div class="example-button-row">
      <button mat-flat-button color="accent" routerLink="/api/messages">Enviar</button>
      <mat-menu #enviar="matMenu"> </mat-menu>
      <button mat-flat-button color="accent" routerLink="/api/messages/inbox">
        Recibidos
      </button>
      <mat-menu #enviar="matMenu"> </mat-menu>
      <button mat-flat-button color="accent" routerLink="/api/messages/sent">
        Enviados
      </button>
      <mat-menu #enviar="matMenu"> </mat-menu>
    </div>
  </section>
  <mat-divider></mat-divider>
  