
<mat-card>
<mat-card-title>Formulario de Registro</mat-card-title>
<mat-card-content>

  <form [formGroup]="formRegistro" (ngSubmit)="agregarUsuario($event)">
    <mat-form-field appearance="fill">
      <mat-label>Apellido</mat-label>
      <input matInput type="text" formControlName="apellido" name="apellido" />
    </mat-form-field>
    <br />
    <mat-form-field appearance="fill">
      <mat-label>Nombre</mat-label>
      <input matInput type="text" formControlName="nombre" name="nombre" />
    </mat-form-field>
    <br />
    <mat-form-field appearance="fill">
      <mat-label>Nombre de Usuario</mat-label>
      <p *ngIf="validarNombreUsuario('nombreUsuario')">Debe tener 5 caracteres</p>
      <input
        matInput
        type="text"
        formControlName="nombreUsuario"
        name="nombreUsuario"
      />
    </mat-form-field>
    <br />
    <mat-form-field appearance="fill">
      <mat-label>Contraseña</mat-label>
      <input
        matInput
        type="password"
        formControlName="contrasena"
        placeholder="Contraseña"
      />
    </mat-form-field>
    <br />
    <mat-form-field appearance="fill">
      <mat-label>Repetir contraseña</mat-label>
      <input
        matInput
        type="password"
        formControlName="recontrasena"
        placeholder="Confirmar Contraseña"
      />
    </mat-form-field>
    <br />
    <mat-form-field appearance="fill">
      <mat-label>Pais</mat-label>
      <select matNativeControl required formControlName="pais">
        <option value="Argentina">Argentina</option>
        <option value="Brasil">Brasil</option>
        <option value="Uruguay">Uruguay</option>
      </select>
    </mat-form-field>
    <br />
    <mat-form-field appearance="fill">
      <mat-label>Ciudad</mat-label>
      <select matNativeControl required formControlName="ciudad">
        <option value="Buenos Aires">Buenos Aires</option>
        <option value="San Pablo">San Pablo</option>
        <option value="Montevideo">Montevideo</option>
      </select>
    </mat-form-field>
    <br />
    <button mat-raised-button [disabled]="!formRegistro.valid">Enviar</button>
  </form>

  <!-- <form [formGroup]="form">
      <mat-error *ngIf="checarSiSonIguales()">Las contraseñas no coinciden</mat-error>
    </form> -->
  

</mat-card-content>

</mat-card>




