<mat-card>
  <mat-card-title>Enviar mensaje</mat-card-title>
  <mat-card-content>
    <form [formGroup]="enviarMensajeForm" (ngSubmit)="enviarMensaje($event)">
      <mat-form-field appearance="fill">
        <mat-label>Seleciona usuario</mat-label>
        <mat-select
          [(value)]="selectedUser"
          matInput
          type="text"
          formControlName="idusuario"
          name="idusuario"
        >
          <mat-option
            [value]="option.idusuario"
            *ngFor="let option of this.usuarios"
            >{{ option.nombreUsuario }}</mat-option
          >
        </mat-select>
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Asunto</mat-label>
        <input matInput type="text" formControlName="asunto" name="asunto" />
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Mensaje</mat-label>
        <textarea
          matInput
          formControlName="mensajeTexto"
          name="mensajeTexto"
        ></textarea>
      </mat-form-field>

      <p *ngIf="validarCaracteres('mensajeTexto')">
        En mensaje no puede exceder los 144 caracteres
      </p>

      <br />
      <button mat-raised-button [disabled]="!enviarMensajeForm.valid">
        Enviar
      </button>
    </form>
  </mat-card-content></mat-card
>
